<div class="row">
  <div class="col-md-5">
    <h2>Complementos</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let complement of complements"
        (click)="selectComplement(complement)"
        [class.active]="complement === selectedComplement">
        {{complement.name}}: {{complement.cost}} €/{{complement.meassure}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewComplement()">Nuevo</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <complement-details
      [complement]="selectedComplement"
      [createHandler]="addComplement"
      [updateHandler]="updateComplement"
      [deleteHandler]="deleteComplement">
    </complement-details>
  </div>
</div>
