<div class="row">
  <div class="col-md-5">
    <h2>Ingredients</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let ingredient of ingredients"
        (click)="selectIngredient(ingredient)"
        [class.active]="ingredient === selectedIngredient">
        {{ingredient.name}}: {{ingredient.cost}} €/{{ingredient.meassure}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewIngredient()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <ingredient-details
      [ingredient]="selectedIngredient"
      [createHandler]="addIngredient"
      [updateHandler]="updateIngredient"
      [deleteHandler]="deleteIngredient">
    </ingredient-details>
  </div>
</div>
