<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id">Información</h2>
    <h2 *ngIf="!contact._id">Nuevo contacto</h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-name">Nombre</label>
      <input class="form-control" name="contact-name" [(ngModel)]="contact.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="contact-source">Fuente</label>
      <select class="form-control"  id="source"
              [(ngModel)]="contact.source" name="contact-source">
        <option *ngFor="let source of contactSources" [value]="source.id">{{source.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contact-comment">Comentario</label>
      <input class="form-control" name="contact-comment" [(ngModel)]="contact.comment"/>
    </div>
    <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Crear</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Actualizar</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Eliminar</button>
  </form>
</div>
