<div *ngIf="order" class="row">
  <div class="col-md-12">
    <h2 *ngIf="order._id">Order Details</h2>
    <h2 *ngIf="!order._id">New Order</h2>
  </div>
</div>
<div *ngIf="order" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="order-name">Name</label>
      <input class="form-control" name="order-name" [(ngModel)]="order.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="order-contactId">Contact</label>
      <select class="form-control"  id="contact"
              [(ngModel)]="order.contactId" name="order-contactId">
        <option *ngFor="let contact of contacts" [value]="contact._id">{{contact.name}}</option>
      </select>
    </div>
    <button class="btn btn-primary" *ngIf="!order._id" (click)="createOrder(order)">Create</button>
    <button class="btn btn-info" *ngIf="order._id" (click)="updateOrder(order)">Update</button>
    <button class="btn btn-danger" *ngIf="order._id" (click)="deleteOrder(order._id)">Delete</button>
  </form>
</div>
