<div *ngIf="order" class="row">
  <div class="col-md-12">
    <h2 *ngIf="order._id">Detalles de la orden</h2>
    <h2 *ngIf="!order._id">Nueva orden</h2>
  </div>
</div>
<div *ngIf="order" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="order-name">Nombre</label>
      <input class="form-control" name="order-name" [(ngModel)]="order.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="order-contactId">Contacto</label>
      <select class="form-control" id="contact"
              [(ngModel)]="order.contactId" name="order-contactId">
        <option *ngFor="let contact of contacts" [value]="contact._id">{{contact.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="order-recipeId">Receta</label>
      <select class="form-control" id="recipe"
              [(ngModel)]="order.recipeId" name="order-recipeId">
        <option *ngFor="let recipe of recipes" [value]="recipe._id">{{recipe.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="order-date">Fecha</label>
      <input class="form-control" type="date" name="order-date" [(ngModel)]="order.date"/>
    </div>
    <div class="form-group">
      <label for="order-event">Evento</label>
      <select class="form-control" id="event"
              [(ngModel)]="order.event" name="order-event">
        <option *ngFor="let event of events" [value]="event.id">{{event.label}}</option>
      </select>
    </div>
    <button class="btn btn-primary" *ngIf="!order._id" (click)="createOrder(order)">Crear</button>
    <button class="btn btn-info" *ngIf="order._id" (click)="updateOrder(order)">Actualizar</button>
    <button class="btn btn-danger" *ngIf="order._id" (click)="deleteOrder(order._id)">Eliminar</button>
    <br/><br/>
    <hr/>
    <h3>Fotos</h3>
    <image-list *ngIf="order._id" [order]="order" [images]="images"></image-list>
  </form>
</div>
